<h3>Objectives for <%= current_user.name %></h3>

  <ol>
<% @objectives.each do |objective| %>
    <li><strong><%= link_to objective.content, objective %></strong><br /><%= link_to 'Add Key Results', objective %>&nbsp&nbsp&nbsp<%= link_to 'Edit', edit_objective_path(objective) %>&nbsp&nbsp&nbsp<%= link_to 'Remove Objective', objective, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% objective.keyresults.each do |keyresult| %>
  		<ul>
    		<li><%= keyresult.content %></li>		
  		</ul>
	<% end %>
	<br />
<% end %>
  </ol>

<%= link_to 'Add New Objective', new_objective_path %>
